<div class="container">

    {{#each posts}}
    <div class="card mb-3 text-center" style="min-height: 500px;" id="{{id}}">
            <div class="card-header">
                <h3>{{titulo}}</h3>
                <h6>{{id_user_fk}}</h6>
            </div>


            <div class="card-body text-center">
                {{parrafo}}

            </div>
            <div class="card-footer">
                <div>
                    <form action="http://localhost:3000/api/comment/add" class="d-flex p6">
                <input type="text" class="flex-fill text-center" name="" placeholder="comentar">
                <button type="submit" onclick="" class="btn btn-primary" >comentar</button>
                    </form>
                </div>
            </div>
        </div>

    {{/each}}
</div>