<div class="container row justify-content-center">
    <div class="col-md-6 text-center "  >
  <form action="/registrarse" method="post">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" name="nombre" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">nombre</label>
      </div>
    </div>
  </div>
  <div class="row mb-4">
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" name="email" id="form3Example3" class="form-control" />
    <label class="form-label" for="form3Example3">correo electronico</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" name="clave" id="form3Example4" class="form-control" />
    <label class="form-label" for="form3Example4">clave</label>
  </div>

  
  <button type="submit" class="btn btn-primary btn-block mb-4">registrarse</button>

  <!-- Register buttons -->
  
    </form>

    </div>
</div>